.single_container {
  max-width: 750px;
  margin: 150px auto;
  position: relative;
}

.blog_detail__date {
  color: $gray;
  font-size: 1.6rem;
  text-align: center;
}
.aioseo-breadcrumbs {
  font-size: 1.6rem;
  color: $gray;
  text-align: center;
  position: absolute;
  top: -90px;
}
.aioseo-breadcrumb-separator {
  margin: 0 3px;
}
.blog_detail__title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 15px;
}
.blog__detail_info {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

// 目次
.toc {
  width: auto;
  display: table;
  margin: 30px 0 0;
  padding: 10px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: #ccc solid 1px;
  border-radius: 3px;
  background-color: #f5f5f5;
  font-size: 2.3rem;
}
.toc .toc-title {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
}
.toc .toc-toggle {
  font-weight: normal;
  font-size: 90%;
}
.toc ul {
  margin: 0;
}
.toc .toc-list {
  padding: 0;
}
.toc-list ul {
  margin: 0 !important;
}
.toc-list li ul li {
  padding-left: 1em;
  text-indent: -1em;
}

/* SNS */
ul.snsshare {
  border: none;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0;
}
ul.snsshare li {
  width: 7%;
  text-align: center;
  transition: 0.3s ease-in-out;
  font-size: 1.3rem;
}
ul.snsshare li i {
  display: block;
  font-size: 2.4rem;
}
li.twitter a {
  color: #989898;
}
li.facebook a {
  color: #989898;
}
li.line a {
  color: #989898;
}
ul.snsshare li a {
  text-decoration: none;
}
ul.snsshare li:hover {
  opacity: 0.7;
}
ul.snsshare {
  padding: 0 40px;
}

.blog_detail__image {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}
.blog_body {
  padding: 30px;
  h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 100px 0 15px;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 30px 0 0;
    padding-left: 20px;
    border-left: 5px solid #000;
  }
  h4 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 15px 0;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.8;
    letter-spacing: 0.04em;
    margin: 2.7rem 0 0;
  }
  img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin-bottom: 7rem;
  }
  ul {
    margin: 2rem 0;
  }
  ol {
    margin: 2rem 0;
  }
  ol li {
    list-style: numbers;
  }

  li {
    list-style: disc;
    font-size: 1.8rem;
    list-style-position: inside;
    line-height: 2;
    padding-left: 1em;
    text-indent: -1em;
  }
  a {
    color: $a_color;
    &:hover {
      text-decoration: underline;
    }
  }
  .internal_link {
    background-color: #f5f5f5;
    padding: 17px;
    border-radius: 5px;
    margin: 2rem 0;
    p {
      margin: 0;
      display: inline;
      font-size: 2rem;
    }
  }
  .internal_text {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: lightcoral;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-right:1rem;
  }
  code {
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 4px;
    color: #222;
  }
  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 1.5em;
    margin-bottom: 7rem;
    background: black;
    color: #fff;
    border-radius: 5px;
  }
}

@media (max-width: 599px) {
  .single_container {
    margin: 120px auto;
  }
  .blog_detail__title {
    font-size: 2.3rem;
  }
  .blog__detail_info {
    flex-direction: row;
    width: 100%;
  }
  .blog_detail__date {
    font-size: 1.2rem;
  }
  .aioseo-breadcrumbs {
    margin: 5px 0;
    font-size: 1.4rem;
    position: absolute;
    top: -100px;
  }
  ul.snsshare li {
    margin: 0 7px;
    font-size: 1.2rem;
  }
  .blog_detail__image {
    height: 190px;
  }
  .toc .toc-title {
    font-size: 1.9rem;
  }
  .toc {
    margin: 3rem 0;
  }
  .blog_body {
    padding: 6px;
    h2 {
      font-size: 2.3rem;
      margin: 29px 0 18px;
    }
    h3 {
      font-size: 2rem;
    }
    li {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.6rem;
      margin: 2rem 0 0;
    }
    img {
      margin-bottom: 4rem;
    }
  }
  .blog_body code[class*="language-"],
  .blog_body pre[class*="language-"] {
    margin-bottom: 4rem;
  }
}
